/**
 * Name: Box
 * Purpose: Placeholder content
 */

.box { 
    height: 500px; 
    width: 100%; 
    margin-top: 10rem;
    background-color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    @include respond-max($bp-sm) { height: 250px; }
}   

.box--nudge-top { margin-top: 5rem; }